/* ==================== RDF Browser Configuration ==================== */

#configuration.panel-body {
    color: white;
    background-color: rgba(70, 130, 180, 0.95);
}

#configuration.panel-body div label {
    font-weight: bold;
}

#configuration.panel-body div p {
    font-style: italic;
}

#configuration.panel-body #numNeighborsDiv {
    display: none;
}

#configuration.panel-body #sliderVal {
    font-weight: bold;
}

#configuration.panel-body #numNeighborsSlider {
    width: 350px;
}

#configuration.panel-body #numNeighborsSlider .slider-selection {
    background: #ec971f;
    opacity: 0.5;
}

#configuration.panel-body #numNeighborsSlider .slider-handle {
    background: #ec971f;
}

#configuration.panel-body #numNeighborsSlider .tooltip {
    z-index: 0;
}


/* ==================== RDF Browser ==================== */

#browser {
    display: none;
    margin-bottom: 0;
}

#browser #browserHeader h3 {
    margin-top: 0;
}

#browser #browserHeader #actionBtns {
    float: right;
}

#browsingHistory #list {
    display: inline;
    margin: 0;
    padding: 0;
}

#browserBody {
    color: black;
    overflow: auto;
}

#browserBody table td {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding-right: 10px;
    padding-bottom: 4px;
    text-align: left;
}

#browser.fullscreen {
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0;
}

#browserBody #container {
    position: relative;
    width: 100%;
    height: 100%;
}

#browserBody #container #nodeDetailsContainer {
    position: absolute;
    left: -15px;
    top: -15px;
    z-index: 9999999;
    width: 30%;
    height: calc(100% + 30px);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: none;
}

#browserBody #container #nodeDetails {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
}

#browserBody #container #nodeDetails #btnHideNodeDetails {
    position: absolute;
    right: 10px;
    top: 10px;
}

#browserBody #container #nodeDetails #nodeDetailsHeading {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

#browserBody #container #nodeDetails #nodeDetailsContent {
    height: calc(100% - 45px);
    overflow: auto;
}