
/* ==================== RDF Browser Configuration ==================== */

#configuration.panel-body {
    color: white;
    background-color: rgba(70, 130, 180, 0.95);
}

#configuration.panel-body div label {
    font-weight: bold;
}

#configuration.panel-body div p {
    font-style: italic;
}

#configuration.panel-body #sliderVal {
    font-weight: bold;
}

#configuration.panel-body #numNeighborsSlider {
    width: 350px;
}

#configuration.panel-body #numNeighborsSlider .slider-selection {
    background: #ec971f;
    opacity: 0.5;
}

#configuration.panel-body #numNeighborsSlider .slider-handle {
    background: #ec971f;
}

#configuration.panel-body #numNeighborsSlider .tooltip {
    z-index: 0;
}


/* ==================== RDF Browser Configuration ==================== */

#suggestions #suggestionsList ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#suggestions #suggestionsList ul li {
    float: left;
    margin-right: 10px;
    margin-bottom: 10px;
}

#suggestions #suggestionsList ul li a {
    display: block;
    width: 240px;
    height: 95px;
    padding: 15px;
    border: 3px solid #ec971f;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.2);
    text-align: left;
    text-decoration: none;
    word-wrap: break-word;
    white-space: pre-line;
    color: white;
}

#suggestions #suggestionsList ul li a:hover {
    box-shadow: inset 0 0 10px #ec971f;
}


/* ==================== RDF Browser ==================== */

#browser {
    display: none;
    margin-bottom: 0;
}

#browser #browserHeader h3 {
    margin-top: 0;
    float: left;
}

#browser #browserHeader #actionBtns {
    float: right;
}

#browser #keyForUsedColors {
    padding: 15px;
    width: 170px;
}

#browser #keyForUsedColors .colorIndicator {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

#browsingHistory {
    clear: both;
}

#browsingHistory #list {
    display: inline;
    margin: 0;
    padding: 0;
}

#browserBody {
    position: relative;
    color: black;
    overflow: auto;
}

#browserBody.visual {
    overflow: visible;
}

#browserBody table td {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding-right: 10px;
    padding-bottom: 4px;
    text-align: left;
}

#browser.fullscreen {
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0;
}

#browserBody #container {
    position: relative;
    width: 100%;
    height: 100%;
}


/* ==================== RDF Browser Tooltips ==================== */

.qtip-default {
    border: none !important;
    background-color: transparent !important;
}

.qtip-content {
    width: 500px;
    max-height: 350px;
    padding: 10px !important;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 2px 6px rgba(35, 82, 124, 0.8);
    border-radius: 8px;
    font-size: 14px;
    line-height: 17px;
    color: white;
}

.qtip-content .tooltipHeader {
    height: 40px;
    padding-top: 7px;
    padding-left: 10px;
    font-variant: small-caps;
    font-size: 120%;
    border-bottom: 5px solid rgba(35, 82, 124, 0.8);
}

.qtip-content .tooltipHeader #tooltipActionBtns {
    position: absolute;
    right: 10px;
    top: 10px;
    margin-left: 20px;
}

.qtip-content .tooltipBody {
    padding: 10px;
    max-height: calc(350px - 55px);
    overflow: auto;
}

.qtip-content .tooltipBody a:hover {
    color: #337ab7;
}