/* ==================== RDF Browser Configuration ==================== */

#configuration.panel-body {
    color: white;
    background-color: rgba(70, 130, 180, 0.95);
}

#configuration.panel-body div label {
    font-weight: bold;
}

#configuration.panel-body div p {
    font-style: italic;
}

#configuration.panel-body #numNeighborsDiv {
    display: none;
}

#configuration.panel-body #sliderVal {
    font-weight: bold;
}

#configuration.panel-body #numNeighborsSlider {
    width: 350px;
}

#configuration.panel-body #numNeighborsSlider .slider-selection {
    background: #ec971f;
    opacity: 0.5;
}

#configuration.panel-body #numNeighborsSlider .slider-handle {
    background: #ec971f;
}

#configuration.panel-body #numNeighborsSlider .tooltip {
    z-index: 0;
}


/* ==================== RDF Browser ==================== */

#browser {
    display: none;
    margin-bottom: 0;
}

#browser #browserHeader h3 {
    margin-top: 0;
}

#browser #browserHeader #actionBtns {
    float: right;
}

#browsingHistory #list {
    display: inline;
    margin: 0;
    padding: 0;
}

#browserBody {
    position: relative;
    color: black;
    overflow: auto;
}

#browserBody.visual {
    overflow: visible;
}

#browserBody table td {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    padding-right: 10px;
    padding-bottom: 4px;
    text-align: left;
}

#browser.fullscreen {
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    border-radius: 0;
}

#browserBody #container {
    position: relative;
    width: 100%;
    height: 100%;
}


/* ==================== RDF Browser Tooltips ==================== */

.sigma-tooltip {
    max-width: 240px;
    max-height: 280px;
    background-color: rgb(249, 247, 237);
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 6px;
}

.sigma-tooltip-header {
    font-variant: small-caps;
    font-size: 120%;
    color: #437356;
    border-bottom: 1px solid #aac789;
    padding: 10px;
}

.sigma-tooltip-header #tooltipActionBtns {
    float: right;
}

.sigma-tooltip-body {
    padding: 10px;
}

.sigma-tooltip-body th {
    color: #999;
    text-align: left;
}

.sigma-tooltip-footer {
    padding: 10px;
    border-top: 1px solid #aac789;
}

.sigma-tooltip>.arrow {
    border-width: 10px;
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
}

.sigma-tooltip.top {
    margin-top: -12px;
}

.sigma-tooltip.top>.arrow {
    left: 50%;
    bottom: -10px;
    margin-left: -10px;
    border-top-color: rgb(249, 247, 237);
    border-bottom-width: 0;
}

.sigma-tooltip.bottom {
    margin-top: 12px;
}

.sigma-tooltip.bottom>.arrow {
    left: 50%;
    top: -10px;
    margin-left: -10px;
    border-bottom-color: rgb(249, 247, 237);
    border-top-width: 0;
}

.sigma-tooltip.left {
    margin-left: -12px;
}

.sigma-tooltip.left>.arrow {
    top: 50%;
    right: -10px;
    margin-top: -10px;
    border-left-color: rgb(249, 247, 237);
    border-right-width: 0;
}

.sigma-tooltip.right {
    margin-left: 12px;
}

.sigma-tooltip.right>.arrow {
    top: 50%;
    left: -10px;
    margin-top: -10px;
    border-right-color: rgb(249, 247, 237);
    border-left-width: 0;
}



/*
#browserBody #container #nodeDetailsContainer {
    position: absolute;
    left: -15px;
    top: -15px;
    z-index: 9999999;
    min-width: 300px;
    width: 30%;
    height: calc(100% + 30px);
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    display: none;
}

#browserBody #container #nodeDetails {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding: 10px;
}

#browserBody #container #nodeDetails #btnGoToNode {
    position: absolute;
    right: 55px;
    top: 10px;
}

#browserBody #container #nodeDetails #btnHideNodeDetails {
    position: absolute;
    right: 10px;
    top: 10px;
}

#browserBody #container #nodeDetails #nodeDetailsHeading {
    margin: 0;
    margin-bottom: 15px;
    padding: 0;
}

#browserBody #container #nodeDetails #nodeDetailsContent {
    height: calc(100% - 45px);
    overflow: auto;
}
*/
